<header class="navbar">
  <nav class="navbar-container">

    <div class="navbar-logo">
      <img src="assets/img/logo.png" alt="DriveRey logo" />
      <span>DriveRey</span>
    </div>

    <button class="navbar-toggle" aria-label="Abrir menú">
      ☰
    </button>

    <ul class="navbar-menu">
      <li><a href="index.html">Inicio</a></li>
      <li><a href="vehiculos.html">Vehículos</a></li>
      <li><a href="proceso.html">Proceso</a></li>
      <li><a href="nosotros.html">Nosotros</a></li>
      <li><a href="reseñas.html">Reseñas</a></li>
    </ul>

  </nav>
</header>